.dragsource_box{
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellowgreen;
  color: #fff;
  user-select: none; 
  /* cursor: crosshair; */
}
.dropBox_container{
  position: absolute;
  right: 0;
  top: 0;
}
.dropBox{
  width: 500px;
  height: 500px;
  border: 1px dotted #333;
  position: relative;

}
.dropBox_container2{
  position: absolute;
  right: 600px;
  top: 0;
}

.container{
  width: 1000px;
  height: 900px;
  border: 1px solid #ccc;
}
#root{
  position: relative;
}
.componentItem{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

