.drag_container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.drag_sidebar{
  margin: 0;
  height: 100%;
  width: 260px;
  padding: 20px 15px;
  box-sizing: border-box;
  border-right: 1px solid #333;
}
.drag_sidebar_item{
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.componentItem{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: teal;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  font-weight: 500;
  text-shadow: 1px 1px 2px #242424;
  font-size: 14px;
}
.drag_box{
  width: calc(100% - 260px);
  height: 100vh;
  background-color: #fff8ea;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dropBox_container_new{
  width: 50%;
  height: 100%;
}
.dropBox_new{
  width: 100%;
  height: 100%;
  position: relative;
}


.dropItem_container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 160px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(17, 83, 182);
  background-color: rgb(233, 173, 94);
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-shadow: 1px 1px 2px #242424;
  cursor: pointer;
  box-sizing: border-box;
}
.dropItem_container:hover .dropItem_close{
  display: block;
}
.dropItem_status{
  width: 18px;
  height: 18px;
}
.dropItem_title{
  width: 80px;
  margin: 0 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dropItem_tool{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.dropItem_tool_execute{
  width: 15px;
  height: 15px;
}
.dropItem_tool_setting {
  width: 15px;
  height: 15px;
}
.dropItem_tool_execute img{
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.dropItem_tool_setting img{
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.dropItem_close{
  display: none;
  position: absolute;
  top: -10px;
  right: -10px;
}
.dropItem_close img{
  width: 18px;
  height: 18px;
}
.connectDelete{
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}
.dropBoxTitle{
  font-size: 15px;
  font-weight: 600;
  color: #047a96;
  text-shadow: 1px 1px 2px #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}
