.default_icon{
  fill: #29b9f1;
}
.warning_icon{
  fill: #eb4a3f;
}
.loading_icon{
  fill: #ececec;
  animation: LoadingAnimate 1s linear infinite ;
}
.success_icon{
  fill: #43c728;
}
.setting_icon{
  fill: #1859e6;
  width: 16px!important;
  height: 16px!important;
}
.execute_icon{
  fill: #1859e6;
  width: 16px!important;
  height: 16px!important;
}

@keyframes LoadingAnimate
{
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.dropItemNew {
  width: 160px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid rgb(17, 83, 182);
  background-color: rgb(233, 173, 94);
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-shadow: 1px 1px 2px #242424;
  padding: 2px 10px;
  cursor: pointer;
  box-sizing: border-box;
}
.dropBoxContainer{
  width: 50%;
  height: 100%;
  border: 1px dashed #fff;
}
.dragNodeListBox{
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 16px;
}
.dropBox{
  width: calc(100% - 200px);
  height: 100%;
  background-color:#c8eef7;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line_close_icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
